{% extends '_base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% load static %}
    <h1>Homepage</h1>
<img class="bookcover" src="{% static 'images/img.png' %}">
{% if user.is_authenticated %}
    Hi {{user.email}}
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}


<!--Learn't the basics of django forms, django_crispy_forms and-->